//todo  ------------------- Шрифт по умолчанию ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,400,500,700&display=swap&subset=cyrillic-ext);

//! ------------------------------ [Page] --------------------------------------

.page {
	// .page__column
	&__column {
		margin-bottom: 150px;
	}
}
//! ------------------------------ [Header]-------------------------------------
.header {
	margin: 30px 0;
	h1 {
		color: #00e1ff;
		font: {
			size: 44px;
			weight: 700;
		}
	}

	&__title {
		color: #1a2425;
		font-size: 22px;
		font-weight: 500;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
// -----------------------------------------------------------------------------
@import 'mixins';
@import 'variables';
@import 'variables-icon';
@import 'reset';
@import 'iconstyle';

//! ------------------------------ [Select]-------------------------------------
.select > ._collapse:not(._show) {
	display: none;
}
//* ----------------------------------------------------------------------------
.select-group {
	flex: 1 1 50%;
	gap: 30px;

	@include flex-align-center-justify-space-between;

	// .select-group__dropdown
	&__dropdown {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.select {
	&._active-collapse {
		.icon-arrow_select {
			scale: -1;
			color: #f68038;
		}
	}
	// .select__button
	&__button {
		cursor: pointer;
		position: relative;
		width: 100%;
		border-radius: 10px;

		background: #ffffff;
		border: 1px solid #7e9bbd;

		input {
			font-size: 16px;
		}

		.icon-arrow_select {
			position: absolute;
			right: 0;
			color: #333;
			transform: rotate(90deg);
			transition: all 0.3s ease-in-out;
			z-index: 0;

			&::before {
				display: flex;
				align-items: center;
				position: relative;
				width: 22px;
				height: 22px;
				font-size: 2rem;
			}
		}

		&:focus {
			outline: none;
			box-shadow: 0px 0px 0px 2px rgb(114, 200, 212);
		}
		@include flex-align-center-justify-space-between;
	}

	// .select__input

	&__input {
		pointer-events: none;
		position: relative;
		display: block;
		width: 100%;
		text-align: left;

		height: 46px;

		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 20px;
		padding-right: 35px;

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	// .select__list
	&__list {
		white-space: nowrap;

		position: absolute;
		left: 0;
		top: 52px;

		margin: 0;
		padding: 0;
		list-style-type: none;

		background: #ffffff;
		box-shadow: 0px 0px 0px 2px rgb(114, 200, 212);
		overflow: hidden;

		border-radius: 6px;
		width: 100%;

		z-index: 10;
	}

	// .select__list-item
	&__list-item {
		margin: 0;
		padding: 0;
		border: 1px solid #7e9bbd;
		border-bottom: 0px;
		padding: 13px 20px;
		cursor: pointer;

		&:focus {
			background: rgba(185, 142, 102, 0.719);
		}
		&:hover {
			background: rgba(176, 198, 225, 0.26);
			color: #f68038;
		}
		&:first-child {
			border-radius: 6px 6px 0 0;
		}
		&:last-child {
			border-radius: 0 0 6px 6px;
			border-bottom: 1px solid #7e9bbd;
		}
		&._selected {
			background-color: #72c9d4;
			color: #fff;
		}
		&._selected-two {
			background-color: #72c9d4;
			color: #fff;
		}
	}
}
