body {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #ddd9ce;
}

.custom-select {
  position: relative;
  width: 150px;
  padding: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
  color: white;
  background-color: #996b33;
  cursor: pointer;
}

.custom-select__icon {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
.custom-select__icon img {
  height: 1rem;
  width: 1rem;
}

.custom-select__label {
  margin-left: 10px;
  vertical-align: middle;
}
.custom-select__label:before, .custom-select__label:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: white;
}
.custom-select__label:before {
  right: 1.5em;
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
      -ms-transform: translate(-25%, -50%) rotate(45deg);
          transform: translate(-25%, -50%) rotate(45deg);
}
.custom-select__label:after {
  right: 1.5em;
  -webkit-transform: translate(25%, -50%) rotate(-45deg);
      -ms-transform: translate(25%, -50%) rotate(-45deg);
          transform: translate(25%, -50%) rotate(-45deg);
}

.custom-select__option-container {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: auto;
  background-color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 295ms ease-in-out;
  transition: -webkit-transform 295ms ease-in-out;
  transition: transform 295ms ease-in-out;
  transition: transform 295ms ease-in-out, -webkit-transform 295ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.custom-select__option-container.is-open {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.custom-select__inner {
  position: relative;
}
.custom-select__inner:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.custom-select__option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 1.2em;
  color: #7f8597;
}
.custom-select__option:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 1px;
  background-color: #b7bac5;
}
.custom-select__option:last-child:after {
  display: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #b7bac5;
}

input[type=checkbox]:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 7px;
  border: none;
  border-bottom: 3px solid #b7bac5;
  border-left: 3px solid #b7bac5;
  -webkit-transform: translate(-50%, -75%) rotate(-45deg);
      -ms-transform: translate(-50%, -75%) rotate(-45deg);
          transform: translate(-50%, -75%) rotate(-45deg);
}/*# sourceMappingURL=style.css.map */