doctype html
html(lang="en")
head
title DOCUMENT
meta(charset="UTF-8")
meta(content="width=device-width,initial-scale=1", name="viewport")
meta(content="Краткое описание документа.", name="description")
meta(content="keywords-ключевые слова для поиска", name="keywords")
link(href="img/icons/clearfit_title.gif", rel="icon", type="image/icon")
link(href="css/style.css", rel="stylesheet", type="text/css")
script(defer, type="text/javascript", src="js/main.js")

body
	block page